.footer {
    text-align: center;
    background-color: #3e51518f;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 0 4em;
    padding: 15px;
}

.footer-container p {
    color: black;
    font-weight: bold;
}

.red-social {
    width: 25%;
}

.red-social i {
    font-size: 30px;
    padding: 10px;
}

.pagos img {
    width: 70px;
}

.copyright {
    color: black;
    font-weight: bold;
}
